<% item = piece.item %>

<div class="vtrg-edit-wrapper" data-id="<%= piece.id %>">
  <% ['top', 'bottom'].each do |position_class| %>
    <div class="vtrg-edit-control <%= position_class %>">
      <a href="javascript:void(0)" role="button" rel="edit" title="Редактировать">
        <%= evil_icon 'ei-pencil', size: "m" %>
      </a>
      <a href="javascript:void(0)" role="button" rel="destroy" title="Удалить">
        <%= evil_icon 'ei-trash', size: "m" %>
      </a>
      <%# <a href="javascript:void(0)" role="button" rel="add_up" title="Добавить блок сверху"> <= evil_icon 'ei-arrow-up', size: "s" ></a> %>
      <%# <a href="javascript:void(0)" role="button" rel="add_down" title="Добавить блок снизу"> <= evil_icon 'ei-arrow-down', size: "s" ></a> %>
    </div>
  <% end %>
  <div class="vtrg-edit-block-cover"><%= evil_icon 'ei-spinner', size: "m" %></div>
  <div class="vtrg-edit-body">
    <%= render partial: "vitrage/#{item.class.name.demodulize.underscore}", locals: { item: item } %>
  </div>
</div>
